@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Book.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../public/fonts/Montserrat-Regular.ttf");
}
